{% extends "base.html" %}
{% block contents %}
<main>
    <div style="text-align: center;">
        <p style="font-family: 'Courier New', Courier, monospace; font-size: large; margin-top: 5%;">
            <b> Welcome to Quant MS </b> 
        </p>
    
        <p>
            Quant MS is my first public project towards the finances, it is a project where i am going to apply what i learn from
            my daily studies, updating once in a while when I feel that i can make relevant changes.
            Quant MS is planned to helpe when it comes to get information to trade at the brazilian stock market, showing graphical data 
            and analysis about what is being shown.
        </p>
    </div>

    
</main>

 
{% endblock %}